<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Aluno</title>
    <style>
        body{background-color:#ada125;}
    </style>
</head>
<body bg-color="red">
Consultando os alunos
<a href="/cadastro">Cadastro de Aluno</a>
<a href="/">HOME</a>
<div>
    <table border="1px">
        <tr>
            <td>Matricula</td>
            <td>Nome</td>
            <td>Idade</td>
        </tr>
      
       <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.matricula}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.idade}"></td>
        <tr>
    </table>
</div>
</body>
</html>